nifi_flow/proj_flight_delay_prediction-version-2.json
{"flowContents":{"identifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371","instanceIdentifier":"e0b0c850-0187-1000-0000-00001288afef","name":"MeetupData","comments":"","position":{"x":1432.0,"y":304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"46d24449-f250-3782-8480-b218e45fa168","instanceIdentifier":"38267a2a-3e18-3dce-90d8-ab14b42bdd89","name":"Merge Events for Micro Batch ","comments":"","position":{"x":456.0,"y":272.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"5 minutes","Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"100"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"6a9efaa0-8f61-36ea-8768-e57b2c7e57a9","instanceIdentifier":"1112c149-5eaf-336c-8bc6-3aff95568e13","name":"Inhale Events (flights) ","comments":"","position":{"x":440.0,"y":8.0},"type":"org.apache.nifi.processors.standard.ListenTCP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Max Size of Socket Buffer":"1 MB","Max Number of TCP Connections":"2","Local Network Interface":null,"Max Batch Size":"1","Port":"63888","max-receiving-threads":null,"Receive Buffer Size":"65507 B","Message Delimiter":"\\n","SSL Context Service":null,"idle-timeout":"0 seconds","Character Set":"UTF-8","Client Auth":"NONE","Max Size of Message Queue":"10000","pool-receive-buffers":"True"},"propertyDescriptors":{"Max Size of Socket Buffer":{"name":"Max Size of Socket Buffer","displayName":"Max Size of Socket Buffer","identifiesControllerService":false,"sensitive":false},"Max Number of TCP Connections":{"name":"Max Number of TCP Connections","displayName":"Max Number of Worker Threads","identifiesControllerService":false,"sensitive":false},"Local Network Interface":{"name":"Local Network Interface","displayName":"Local Network Interface","identifiesControllerService":false,"sensitive":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"max-receiving-threads":{"name":"max-receiving-threads","displayName":"Max Number of Receiving Message Handler Threads","identifiesControllerService":false,"sensitive":false},"Receive Buffer Size":{"name":"Receive Buffer Size","displayName":"Receive Buffer Size","identifiesControllerService":false,"sensitive":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Batching Message Delimiter","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Connection Timeout","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Max Size of Message Queue":{"name":"Max Size of Message Queue","displayName":"Max Size of Message Queue","identifiesControllerService":false,"sensitive":false},"pool-receive-buffers":{"name":"pool-receive-buffers","displayName":"Pool Receive Buffers","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"b373331d-1e89-3cbf-83a5-c557e45f90b5","instanceIdentifier":"4abcfdd5-8f32-3fd2-b374-f2ca015317ed","name":"PutIceberg","comments":"","position":{"x":672.0,"y":568.0},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"maximum-file-size":null,"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","file-format":null,"catalog-service":"a09adf5f-809b-35c3-9b1a-fe102ce1ee3d","record-reader":"0d49bcc1-746a-396a-aa46-275d850e3e9b","table-name":"flights_streaming_ice","kerberos-user-service":"13821510-d01d-37c0-bc17-98e8eeb94047","minimum-commit-wait-time":"100 ms","catalog-namespace":"airlinedata"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"a46cab9e-beb8-3de6-b19c-7efd0c0fd76d","instanceIdentifier":"391ae977-28ac-3c34-a7e7-a369fd7420ab","name":"Extract Weather Parameter","comments":"","position":{"x":1472.0,"y":312.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","origin":"(?:[^\\,]*\\,){16}(([^,]*))","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","dest":"(?:[^\\,]*\\,){17}(([^,]*))","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","uniquecarrier":"(?:[^\\,]*\\,){8}(([^,]*))","Enable Multiline Mode":"false","deptime":"(?:[^\\,]*\\,){4}(([^,]*))","Maximum Capture Group Length":"1024","dayofweek":"(?:[^\\,]*\\,){3}(([^,]*))","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"origin":{"name":"origin","displayName":"origin","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"dest":{"name":"dest","displayName":"dest","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"uniquecarrier":{"name":"uniquecarrier","displayName":"uniquecarrier","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"deptime":{"name":"deptime","displayName":"deptime","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"dayofweek":{"name":"dayofweek","displayName":"dayofweek","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"22c4fddb-3546-3edb-86a9-47b24a1efb9a","instanceIdentifier":"1b1b1c6b-8e16-3226-aee5-70fe1ef58ffd","name":"Weather Data Enrichment ","comments":"","position":{"x":1480.0,"y":24.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","dest_lat":"/dest_lat","result-record-path":"/weather_json","record-writer":"ae22f5b3-cc5e-3e21-b85c-e1531aa0b30e","dest_lon":"/dest_lon","record-reader":"c1d7f212-9200-3d8e-8415-e85bc481d7d9","lookup-service":"a1888b87-adf5-3e45-a201-3adabf163665","record-update-strategy":"use-property"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"dest_lat":{"name":"dest_lat","displayName":"dest_lat","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dest_lon":{"name":"dest_lon","displayName":"dest_lon","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"35aea336-30e5-3097-9e21-69dbb854ad8b","instanceIdentifier":"1b088cb7-4535-3867-9d52-8fb742211e43","name":"Store External Table CDW ","comments":"","position":{"x":160.0,"y":584.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","Access Key":"#{aws_access_key_id}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Secret Key":"#{aws_secret_access_key}","Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"#{bucket}","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"586cfb6c-bfc0-3977-9d39-f26dea66faaa","instanceIdentifier":"059ff378-a4cc-3638-9f3f-99ccac7b9c6c","name":"Extract Lookup Parameter","comments":"","position":{"x":1056.0,"y":8.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","dest_lat":"(?:[^\\,]*\\,){32}(([^,]*))","Maximum Capture Group Length":"1024","dest_lon":"(?:[^\\,]*\\,){31}(([^,]*))","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"dest_lat":{"name":"dest_lat","displayName":"dest_lat","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"dest_lon":{"name":"dest_lon","displayName":"dest_lon","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"d9f05b26-c9da-3034-8282-5732b9f23a94","instanceIdentifier":"41ef5f5c-c4e8-32f8-8f7f-a0d9b673b42d","name":"Flight Delay Prediction","comments":"","position":{"x":1056.0,"y":320.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"result-contents":"insert-entire-record","request.body":"concat('{\"accessKey\":\"' , #{cml_access_key} , '\",\"request\":{\"feature\":\"',/uniquecarrier, ',', /origin , ',' , /dest , ',' , ${now():format(\"w\")}, ',',  ${now():format(\"HH\")} ,'\" }} ')","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/prediction","record-writer":"353d357a-de7a-3a43-a013-5a5fe4f391b5","request.method":"toString('post', 'UTF-8')","record-reader":"c1d7f212-9200-3d8e-8415-e85bc481d7d9","lookup-service":"0cff0702-73f7-31c8-815f-23d90b61c831","record-update-strategy":"use-property","mime.type":"toString('application/json', 'UTF-8')"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"request.body":{"name":"request.body","displayName":"request.body","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"request.method":{"name":"request.method","displayName":"request.method","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f6415c65-f4e0-3a8b-a362-0afdce4b55f4","instanceIdentifier":"919adb7c-28a6-37ac-8f0f-d1feb58d8c76","name":"","source":{"id":"22c4fddb-3546-3edb-86a9-47b24a1efb9a","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Weather Data Enrichment ","comments":"","instanceIdentifier":"1b1b1c6b-8e16-3226-aee5-70fe1ef58ffd"},"destination":{"id":"a46cab9e-beb8-3de6-b19c-7efd0c0fd76d","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Extract Weather Parameter","comments":"","instanceIdentifier":"391ae977-28ac-3c34-a7e7-a369fd7420ab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"875604a3-9015-3e47-8fa3-aff0607295fa","instanceIdentifier":"fc11b299-7618-35e7-9881-150b5d08f558","name":"","source":{"id":"586cfb6c-bfc0-3977-9d39-f26dea66faaa","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Extract Lookup Parameter","comments":"","instanceIdentifier":"059ff378-a4cc-3638-9f3f-99ccac7b9c6c"},"destination":{"id":"22c4fddb-3546-3edb-86a9-47b24a1efb9a","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Weather Data Enrichment ","comments":"","instanceIdentifier":"1b1b1c6b-8e16-3226-aee5-70fe1ef58ffd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"4b08d6f3-0406-3e65-bcfd-506c54990e52","instanceIdentifier":"694a7e30-10a4-3c3b-9ba2-2adab2cf9264","name":"","source":{"id":"a46cab9e-beb8-3de6-b19c-7efd0c0fd76d","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Extract Weather Parameter","comments":"","instanceIdentifier":"391ae977-28ac-3c34-a7e7-a369fd7420ab"},"destination":{"id":"d9f05b26-c9da-3034-8282-5732b9f23a94","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Flight Delay Prediction","comments":"","instanceIdentifier":"41ef5f5c-c4e8-32f8-8f7f-a0d9b673b42d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"ad9647b6-9083-33f5-8518-fd70658f1c00","instanceIdentifier":"35b24cc9-4495-337c-8750-c0a70b871386","name":"","source":{"id":"6a9efaa0-8f61-36ea-8768-e57b2c7e57a9","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Inhale Events (flights) ","comments":"","instanceIdentifier":"1112c149-5eaf-336c-8bc6-3aff95568e13"},"destination":{"id":"586cfb6c-bfc0-3977-9d39-f26dea66faaa","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Extract Lookup Parameter","comments":"","instanceIdentifier":"059ff378-a4cc-3638-9f3f-99ccac7b9c6c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"9f4358ae-9334-32af-9bd1-421098a36380","instanceIdentifier":"7188178c-a2be-35c8-b4d2-bacb7f791b25","name":"","source":{"id":"46d24449-f250-3782-8480-b218e45fa168","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Merge Events for Micro Batch ","comments":"","instanceIdentifier":"38267a2a-3e18-3dce-90d8-ab14b42bdd89"},"destination":{"id":"b373331d-1e89-3cbf-83a5-c557e45f90b5","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"PutIceberg","comments":"","instanceIdentifier":"4abcfdd5-8f32-3fd2-b374-f2ca015317ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"e7efee9d-caa7-3ad5-8d33-385d05fa0dca","instanceIdentifier":"edd4a3b8-0e2d-3b31-95dc-c4ec1b60801d","name":"","source":{"id":"d9f05b26-c9da-3034-8282-5732b9f23a94","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Flight Delay Prediction","comments":"","instanceIdentifier":"41ef5f5c-c4e8-32f8-8f7f-a0d9b673b42d"},"destination":{"id":"46d24449-f250-3782-8480-b218e45fa168","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Merge Events for Micro Batch ","comments":"","instanceIdentifier":"38267a2a-3e18-3dce-90d8-ab14b42bdd89"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"fe23b30d-622f-3b4f-ab5a-764180d7b886","instanceIdentifier":"c0e16ab0-d627-387c-85ca-c51e54ad572c","name":"","source":{"id":"46d24449-f250-3782-8480-b218e45fa168","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Merge Events for Micro Batch ","comments":"","instanceIdentifier":"38267a2a-3e18-3dce-90d8-ab14b42bdd89"},"destination":{"id":"35aea336-30e5-3097-9e21-69dbb854ad8b","type":"PROCESSOR","groupId":"e7301eca-3835-3a1e-a649-c39d3c9c1371","name":"Store External Table CDW ","comments":"","instanceIdentifier":"1b088cb7-4535-3867-9d52-8fb742211e43"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0d49bcc1-746a-396a-aa46-275d850e3e9b","instanceIdentifier":"8f1cc3a3-60ef-3993-a23b-417d6e361b79","name":"Iceberg_ins","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n   \"namespace\": \"example.avro\",\n   \"type\": \"record\",\n   \"name\": \"flight_events\",\n   \"fields\": [\n      {\"name\": \"year\", \"type\": \"string\"},\n      {\"name\": \"month\", \"type\": \"string\"},\n      {\"name\": \"dayofmonth\", \"type\": \"string\"},\n      {\"name\": \"dayofweek\", \"type\": \"string\"},\n      {\"name\": \"deptime\", \"type\": \"string\"},\n      {\"name\": \"crsdeptime\", \"type\": \"string\"},\n      {\"name\": \"arrtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"crsarrtime\", \"type\": [\"string\", \"null\"] },\n      {\"name\": \"uniquecarrier\", \"type\": \"string\"},\n      {\"name\": \"flightnum\", \"type\": \"string\"},\n      {\"name\": \"tailnum\", \"type\": \"string\"},\n      {\"name\": \"actualelapsedtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"crselapsedtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"airtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"arrdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"depdelay\", \"type\": \"string\"},\n      {\"name\": \"origin\", \"type\": \"string\"},\n      {\"name\": \"dest\", \"type\": \"string\"},\n      {\"name\": \"distance\", \"type\": \"string\"},\n      {\"name\": \"taxiin\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"taxiout\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"cancelled\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"cancellationcode\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"diverted\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"carrierdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"weatherdelay\", \"type\": [\"string\", \"null\"]},\n     {\"name\": \"nasdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"securitydelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"lateaircraftdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"origin_lon\", \"type\": [\"string\", \"null\"] },\n      {\"name\": \"origin_lat\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"dest_lon\", \"type\":  [\"string\", \"null\"]},\n      {\"name\": \"dest_lat\", \"type\": [\"string\", \"null\"]},       {\"name\": \"prediction\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"proba\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"weather_json\", \"type\": [\"string\", \"null\"]}\n   ]\n}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"6e55d563-9146-3319-bd53-85761bd523c7","instanceIdentifier":"65fc20dc-0d60-360c-a9cc-39208170ff0e","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"a1888b87-adf5-3e45-a201-3adabf163665","instanceIdentifier":"10c05fbf-5399-36d4-be71-78c2360696cd","name":"RestLookupService","comments":"","type":"org.apache.nifi.lookup.RestLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"rest-lookup-record-reader":"32e8a943-b985-3996-b8c9-bcd99e8b3403","rest-lookup-basic-auth-username":null,"rest-lookup-digest-auth":"false","rest-lookup-connection-timeout":"5 secs","rest-lookup-url":"http://api.openweathermap.org/data/2.5/weather?lat=${\"dest_lat\"}&lon=${\"dest_lon\"}&units=metric&lang=en&appid=e96c82df4cb3c76e89480db9329ca897","rest-lookup-ssl-context-service":null,"proxy-configuration-service":null,"rest-lookup-record-path":null,"rest-lookup-read-timeout":"15 secs"},"propertyDescriptors":{"rest-lookup-record-reader":{"name":"rest-lookup-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-username":{"name":"rest-lookup-basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"rest-lookup-digest-auth":{"name":"rest-lookup-digest-auth","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"rest-lookup-connection-timeout":{"name":"rest-lookup-connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"rest-lookup-url":{"name":"rest-lookup-url","displayName":"URL","identifiesControllerService":false,"sensitive":false},"rest-lookup-ssl-context-service":{"name":"rest-lookup-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-password":{"name":"rest-lookup-basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"rest-lookup-record-path":{"name":"rest-lookup-record-path","displayName":"Record Path","identifiesControllerService":false,"sensitive":false},"rest-lookup-read-timeout":{"name":"rest-lookup-read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"c1d7f212-9200-3d8e-8415-e85bc481d7d9","instanceIdentifier":"8808cdc2-d825-33cf-829f-f2d4c83abb2a","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n   \"namespace\": \"example.avro\",\n   \"type\": \"record\",\n   \"name\": \"flight_events\",\n   \"fields\": [\n      {\"name\": \"year\", \"type\": \"string\"},\n      {\"name\": \"month\", \"type\": \"string\"},\n      {\"name\": \"dayofmonth\", \"type\": \"string\"},\n      {\"name\": \"dayofweek\", \"type\": \"string\"},\n      {\"name\": \"deptime\", \"type\": \"string\"},\n      {\"name\": \"crsdeptime\", \"type\": \"string\"},\n      {\"name\": \"arrtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"crsarrtime\", \"type\": [\"string\", \"null\"] },\n      {\"name\": \"uniquecarrier\", \"type\": \"string\"},\n      {\"name\": \"flightnum\", \"type\": \"string\"},\n      {\"name\": \"tailnum\", \"type\": \"string\"},\n      {\"name\": \"actualelapsedtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"crselapsedtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"airtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"arrdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"depdelay\", \"type\": \"string\"},\n      {\"name\": \"origin\", \"type\": \"string\"},\n      {\"name\": \"dest\", \"type\": \"string\"},\n      {\"name\": \"distance\", \"type\": \"string\"},\n      {\"name\": \"taxiin\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"taxiout\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"cancelled\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"cancellationcode\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"diverted\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"carrierdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"weatherdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"nasdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"securitydelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"lateaircraftdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"origin_lon\", \"type\": [\"string\", \"null\"] },\n      {\"name\": \"origin_lat\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"dest_lon\", \"type\":  [\"string\", \"null\"]},\n      {\"name\": \"dest_lat\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"prediction\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"proba\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"weather_json\", \"type\": [\"string\", \"null\"]}\n   ] \n}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"a09adf5f-809b-35c3-9b1a-fe102ce1ee3d","instanceIdentifier":"7a49af0a-59bf-3d02-8230-2a48cfd207ec","name":"HiveCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"hadoop-config-resources":"#{CDPEnvironment}","warehouse-location":null,"hive-metastore-uri":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"13821510-d01d-37c0-bc17-98e8eeb94047","instanceIdentifier":"c85f92d7-7ee3-3f82-9fcf-5bd0fe3e288f","name":"KerberosPasswordUserService","comments":"","type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"Kerberos Password":"#{cdp_workload_password}","Kerberos Principal":"#{cdp_workload_user}"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"32e8a943-b985-3996-b8c9-bcd99e8b3403","instanceIdentifier":"0880749f-8f89-3679-b6b1-0fbe527a20c7","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"ae22f5b3-cc5e-3e21-b85c-e1531aa0b30e","instanceIdentifier":"1eb73374-145e-3b87-af38-f102c5cfb024","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"41eaa893-2a36-30a1-a3ea-64383bfb80cf","instanceIdentifier":"0217972d-60d4-3ca4-a79d-ed3cb3ab873a","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"fcccbfaf-240b-36c8-8580-40118ee7fa82","instanceIdentifier":"f78769ab-25bb-354f-a22a-955f9f985de0","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n   \"namespace\": \"example.avro\",\n   \"type\": \"record\",\n   \"name\": \"flight_events\",\n   \"fields\": [\n      {\"name\": \"year\", \"type\": \"string\"},\n      {\"name\": \"month\", \"type\": \"string\"},\n      {\"name\": \"dayofmonth\", \"type\": \"string\"},\n      {\"name\": \"dayofweek\", \"type\": \"string\"},\n      {\"name\": \"deptime\", \"type\": \"string\"},\n      {\"name\": \"crsdeptime\", \"type\": \"string\"},\n      {\"name\": \"arrtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"csrarrtime\", \"type\": [\"string\", \"null\"] },\n      {\"name\": \"uniquecarrier\", \"type\": \"string\"},\n      {\"name\": \"flightnum\", \"type\": \"string\"},\n      {\"name\": \"tailnum\", \"type\": \"string\"},\n      {\"name\": \"actualelapsedtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"crselapsedtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"airtime\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"arrdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"depdelay\", \"type\": \"string\"},\n      {\"name\": \"origin\", \"type\": \"string\"},\n      {\"name\": \"dest\", \"type\": \"string\"},\n      {\"name\": \"distance\", \"type\": \"string\"},\n      {\"name\": \"taxiin\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"taxiout\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"cancelled\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"cancellationcode\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"diverted\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"carrierdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"weatherdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"nasdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"securitydelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"lateaircraftdelay\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"origin_lon\", \"type\": [\"string\", \"null\"] },\n      {\"name\": \"origin_lat\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"dest_lon\", \"type\":  [\"string\", \"null\"]},\n      {\"name\": \"dest_lat\", \"type\": [\"string\", \"null\"]},\n      {\"name\": \"weather_json\", \"type\": [\"string\", \"null\"]}\n   ]\n}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"f9b36933-147d-3c80-9b66-cf8d82db3c0a","instanceIdentifier":"3b3cd697-616c-30ce-8f5f-4076f2de888e","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"ssl-context-service":null,"cache-size":"1000","kerberos-principal":null,"basic-auth-username":null,"url":"http://demo.cloudera.com:7788/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"343df2f8-0e43-3a45-9fcc-39c162681324","instanceIdentifier":"fe838fab-febc-34a6-a502-fde32e80b8c7","name":"JettyWebSocketClient","comments":"","type":"org.apache.nifi.websocket.jetty.JettyWebSocketClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-jetty-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"max-binary-message-size":"64 kb","websocket-uri":"ws://stream.meetup.com/2/event_comments","connection-timeout":"3 sec","proxy-port":null,"ssl-context-service":null,"user-name":null,"session-maintenance-interval":"10 sec","connection-attempt-timeout":"3","proxy-host":null,"authentication-charset":"US-ASCII","max-text-message-size":"64 kb","input-buffer-size":"4 kb"},"propertyDescriptors":{"max-binary-message-size":{"name":"max-binary-message-size","displayName":"Max Binary Message Size","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"connection-attempt-timeout":{"name":"connection-attempt-timeout","displayName":"Connection Attempt Count","identifiesControllerService":false,"sensitive":false},"proxy-host":{"name":"proxy-host","displayName":"HTTP Proxy Host","identifiesControllerService":false,"sensitive":false},"authentication-charset":{"name":"authentication-charset","displayName":"Authentication Header Charset","identifiesControllerService":false,"sensitive":false},"max-text-message-size":{"name":"max-text-message-size","displayName":"Max Text Message Size","identifiesControllerService":false,"sensitive":false},"websocket-uri":{"name":"websocket-uri","displayName":"WebSocket URI","identifiesControllerService":false,"sensitive":false},"connection-timeout":{"name":"connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"user-password":{"name":"user-password","displayName":"User Password","identifiesControllerService":false,"sensitive":true},"proxy-port":{"name":"proxy-port","displayName":"HTTP Proxy Port","identifiesControllerService":false,"sensitive":false},"user-name":{"name":"user-name","displayName":"User Name","identifiesControllerService":false,"sensitive":false},"session-maintenance-interval":{"name":"session-maintenance-interval","displayName":"Session Maintenance Interval","identifiesControllerService":false,"sensitive":false},"custom-authorization":{"name":"custom-authorization","displayName":"Custom Authorization","identifiesControllerService":false,"sensitive":true},"input-buffer-size":{"name":"input-buffer-size","displayName":"Input Buffer Size","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.websocket.WebSocketService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.websocket.WebSocketClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"353d357a-de7a-3a43-a013-5a5fe4f391b5","instanceIdentifier":"b2bb885b-d8a1-3699-baee-0b68cb0daa52","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"0cff0702-73f7-31c8-815f-23d90b61c831","instanceIdentifier":"140d228d-19bc-3d25-aab6-0175c8f431f3","name":"CML_prediction","comments":"","type":"org.apache.nifi.lookup.RestLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"rest-lookup-record-reader":"32e8a943-b985-3996-b8c9-bcd99e8b3403","rest-lookup-basic-auth-username":null,"rest-lookup-digest-auth":"false","rest-lookup-connection-timeout":"5 secs","rest-lookup-url":"#{cml_model_url}","rest-lookup-ssl-context-service":null,"proxy-configuration-service":null,"rest-lookup-record-path":"/response/prediction","rest-lookup-read-timeout":"15 secs"},"propertyDescriptors":{"rest-lookup-record-reader":{"name":"rest-lookup-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-username":{"name":"rest-lookup-basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"rest-lookup-digest-auth":{"name":"rest-lookup-digest-auth","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"rest-lookup-connection-timeout":{"name":"rest-lookup-connection-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"rest-lookup-url":{"name":"rest-lookup-url","displayName":"URL","identifiesControllerService":false,"sensitive":false},"rest-lookup-ssl-context-service":{"name":"rest-lookup-ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"rest-lookup-basic-auth-password":{"name":"rest-lookup-basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"rest-lookup-record-path":{"name":"rest-lookup-record-path","displayName":"Record Path","identifiesControllerService":false,"sensitive":false},"rest-lookup-read-timeout":{"name":"rest-lookup-read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"},{"identifier":"62b7205a-018c-3db4-8ebd-d987dfbf6ee6","instanceIdentifier":"563c51ec-9cbc-3bfa-b9e5-b3c9373387e5","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.2-2"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"f9b36933-147d-3c80-9b66-cf8d82db3c0a","schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.2-2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7301eca-3835-3a1e-a649-c39d3c9c1371"}],"variables":{},"parameterContextName":"defaults","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"defaults":{"name":"defaults","parameters":[{"name":"cml_access_key","description":"","sensitive":false,"provided":false,"value":"\"m91iebrn03bu2lvq9bf0lsgwmh7z2w28\""},{"name":"bucket","description":"","sensitive":false,"provided":false,"value":"/proj-eyjafjallajoekull/streaming/flights"},{"name":"openweather_appid","description":"","sensitive":false,"provided":false,"value":"e96c82df4cb3c76e89480db9329ca897\n"},{"name":"cml_model_url","description":"","sensitive":false,"provided":false,"value":"https://modelservice.ml-57996b5b-6d3.se-sandb.a465-9q4k.cloudera.site/model"},{"name":"aws_access_key_id","description":"","sensitive":true,"provided":false},{"name":"cdp_workload_user","description":"","sensitive":false,"provided":false,"value":"frothkoetter"},{"name":"aws_secret_access_key","description":"","sensitive":true,"provided":false},{"name":"CDPEnvironment","description":"","sensitive":false,"provided":false,"value":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"},{"name":"cdp_workload_password","description":"your workload user password","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}